<header>
  <div class="header-content">
    <img src="/images/staxx-green.svg" id="staxx-logo-d" alt="Staxx Logo">
    <div id="profileheader">
      <div id="userIdBox">
        <span>Welcome</span>
        <h4>{{ userName }}</h4>
      </div>
      <img src="{{ imgSrc }}" id="headerImg" alt="Profile Picture">
      <div id="nav-icon3">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>

<section id="dash">
  <div>
    <img src="{{ imgSrc }}" id="pageImg" alt="Profile Picture">
    <span>Username</span>
    <h4>{{ userName }}</h4>
    <h3>Stack Tracker</h3>
    <div id="moneyMeter">
      <div style="width: {{ percentLeft }}%;"></div>
    </div>
    <p>You have spent {{ percentLeft }}% of your money.</p>
  </div>
  <div></div>
  <div></div>
  <div></div>
</section>



<footer>
  <a href="#">Omega Giga X-Force Extreme</a>
  <span>&copy; 2019</span>
</footer>


<script type="text/javascript" src="/js/dashboard.js"></script>