<header>
  <div class="header-content">
    <img src="/images/staxx-green.svg" id="staxx-logo-d" alt="Staxx Logo">
    <div id="profileheader">
      <div id="userIdBox">
        <span>Welcome</span>
        <h4>{{ firstname }}</h4>
      </div>
      <img src="../images/{{ avatar }}.jpg" id="headerImg" alt="Profile Picture">
      <div id="nav-icon3">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>

<section id="dash">
  <div>
    <div id="profile-dash">
      <img src="../public/images/{{ avatar }}" id="pageImg" alt="Profile Picture">
      <span>Username</span>
      <h4>{{ email }}</h4>
      <h3>Stack Tracker</h3>
      <div id="moneyMeter">
        <div style="width: {{ percentLeft }}%;"></div>
      </div>
      <p>You have spent {{ percentLeft }}% of your money.</p>
    </div>
    <div id="alerts">
      {{!-- alertNum will display:none when it is empty - should only contain
      html when there are notifictions to be seen --}}
      <div id="alertNum"></div>
      <h5>Notifications</h5>
      <ul>
        {{!-- Placeholder List will be generated and appended to 
        #alertNum -  .html() for the alertTime can come from momentJS --}}
        <li>2 Days Until Refresh <span class="alertTime">12:03am Oct 8</span></li>
        <li>Bill Due <span class="alertTime">10:24am Oct 7</span></li>
      </ul>
    </div>
  </div>
  <div class="chartCont"></div>
  <div class="titleAndBtn">
    <label for="currency-field" id="paymentLabel">Add New Transaction</label>
    <button class="allTransactions">All Transactions</button>
  </div>
  <div id="category">
    <select>
      <option value="0">Category</option>
      {{#each categories}}
      <option value="{{ id }}">{{ category }}</option>
      {{/each}}
    </select>
  </div>
  <div class="paymentInput">
    <form method="post" action="#">
      <input type="text" name="currency-field" id="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
        data-type="currency" placeholder="$000.00">
      <button type="submit" id="paymentSubmit">Add</button>
    </form>
  </div>
  <div class="chart"><canvas id="doughnut-chart"></canvas><span class="allTrans">All Transactions</span></div>
  </div>
</section>

<div id="transactionsPanel">
  <h4>Transaction History</h4>
  <ul>
    {{#each transactions}}
    <li>
      <span>{{ amount }}</span>
      <p>{{ category }}</p>
      <p>{{ timeStamp }}</p>
    </li>
    {{/each}}
  </ul>
</div>



<footer>
  <a href="#">Omega Giga X-Force Extreme</a>
  <span>&copy; 2019</span>
</footer>


<script type="text/javascript" src="/js/dashboard.js"></script>